<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менеджер задач</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Менеджер задач</a>
            <a href="#">Пользователи</a>
            <div>
                <a href="#">Вход</a>
                <a href="#">Регистрация</a>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <h1>Привет от Хекслета!</h1>
            <p>Практические курсы по программированию</p>
            <a href="https://hexlet.io">Узнать больше</a>
        </div>
    </main>
    <footer>
        <a href="https://hexlet.io">Hexlet</a>
    </footer>
</body>
</html>
